#admin-header{
	background-color: #424040;
	color: white;
	min-height: 7px;
}

#admin-option{
	color: white;
	text-decoration: none;
	height: 50px;
	font-size: 20px;
}
#admin-option:hover{
	background-color: #7c7d7e;
}
#admin-option a{
	color: white;
	text-decoration: none;
}
#paging a{
	color: #4f4a4a;
}
#paging a:hover{
	background-color: #8eb2d8;
	color: white;
}
#paging strong{
	background-color:#5a5959;
	color: white;
}